<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o directorio existe, dejar pasar
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todo a index.php para que Symfony maneje la ruta
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Si no está mod_rewrite, mostrar error 404
    ErrorDocument 404 /index.php
</IfModule>
